<div class="container">
  <div class="row">
    <a href="#"><div class="col-md-3"><img src="assets/img/maspa1.jpg" class="img-responsive"></div></a>
    <a href="#"><div class="col-md-3"><img src="assets/img/maspa2.jpg" class="img-responsive"></div></a>
    <a href="#"><div class="col-md-3"><img src="assets/img/maspa3.jpg" class="img-responsive"></div></a>
    <a href="#"><div class="col-md-3"><img src="assets/img/maspa4.jpg" class="img-responsive"></div></a>
  </div>
  <div class="row">
    <a href="#"><div class="col-md-3"><img src="assets/img/maspa5.jpg" class="img-responsive"></div></a>
    <a href="#"><div class="col-md-3"><img src="assets/img/maspa6.jpg" class="img-responsive"></div></a>
    <a href="#"><div class="col-md-3"><img src="assets/img/maspa7.jpg" class="img-responsive"></div></a>
    <a href="#"><div class="col-md-3"><img src="assets/img/maspa8.jpg" class="img-responsive"></div></a>
  </div>
</div>